body{color:red;}
/* /*------------------------------------------------- */
/* GLOBALS CLASSES  */
/* -------------------------------------------------*/ */
/* *{padding:0; margin:0;} */
/* body{font-family:"Trebuchet MS"; font-size:14px; color:#ffed71; background:url(../images/bg1.jpg);} */
/* img{border:none;} */
/* h1{ font-family:"Trebuchet MS"; font-size:22px; font-weight:normal;} */

/* /*------------------------------------------------- */
/* GENERAL CLASSES */
/* -------------------------------------------------*/ */
/* .panel{background:url(../images/bg1.jpg);} */
/* .title{} */
/* .content{} */
/* .button a{ text-decoration:none; background:url(../images/btn-bg.png) no-repeat; width:90px; height:30px; text-align:center; line-height:30px; display:block;} */
/* .button a:hover{background:url(../images/btn-bghover.png) no-repeat; color:#04192f;} */
/* .wrap{ width:960px; margin-top:10; overflow:hidden;} */

/* /*------------------------------------------------- */
/* HEADER CLASSES */
/* -------------------------------------------------*/ */
/* .header-wrap{ background:#000 url(../images/bg2.jpg) repeat-x; height:150px; margin-top:20px; } */
/* .login { color: black; } */
/* .password { color: black; } */

/* /*------------------------------------------------- */
/* MENU CLASSES */
/* -------------------------------------------------*/ */
/* .mainmenu { */
/* 	margin-top: 20px; */
/* } */
/* .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { */
/*     background-color: #071D30; */
/*     color: #ffffff; */
/* } */
/* .nav>li>a:hover, .nav>li>a:focus { */
/*     background-color: #071D30; */
/*     color: #ffffff; */
/* } */
/* a { */
/*     color: #ffed71; */
/*     text-decoration: none; */
/* } */
/* .social:hover, .social:focus */
/* { */
/*     background-color: #ffed71; */
/*     color: #ffffff; */
/* } */

/* /*------------------------------------------------- */
/* BANNER CLASSES */
/* -------------------------------------------------*/ */
/* .banner-wrap{width:960px; overflow:hidden; margin:0 auto;} */
/* .banner{ height:480px; background:url(../images/banner-bg.png) no-repeat;} */
/* .banner .banner-img{ margin:0 auto; padding-top:54px; width:420px;} */
/* .shadow{ width:950px; height:38px; background:url(../images/shadow.png) no-repeat center; margin-bottom:45px;} */

/* /*------------------------------------------------- */
/* BOX CLASSES */
/* -------------------------------------------------*/ */
/* .box{ overflow:hidden;} */
/* .box .panel .title{ background:url(../images/line-bg.jpg) repeat-x bottom; margin-bottom:25px;} */
/* .box .panel .title h1{ color:#ffffff; font-weight:normal;} */
/* .box .content{ color:#ffed71; font-weight:bold; font-size: large;} */
/* table {margin-top: 50px;} */
/* table thead{ color:#ffffff; font-weight:normal; font-size: large;} */
/* form {margin-top: 50px;} */
/* form legend { color:#ffffff; font-weight:normal; font-size: large;} */
/* .form button {background:url(../images/btn-bg.png) no-repeat; width:90px; height:30px;} */
/* .form button:HOVER {background:url(../images/btn-bghover.png) no-repeat; color:#04192f;} */

/* /*------------------------------------------------- */
/* CONTACT FORM CLASSS */
/* -------------------------------------------------*/ */

/* .contact-form label span {display: block; color:#ffed71;font-size:16px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;} */

/* /*------------------------------------------------- */
/* FOOTER CLASSES */
/* -------------------------------------------------*/ */
/* .footer-wrap{ background:url(../images/bg2.jpg); overflow:hidden;} */
/* .footer-wrap .wrap{ margin:0 auto;background:url(../images/footerbg-light.png) no-repeat center; height:250px; padding-top:20px; padding-bottom:60px; overflow:hidden;} */
/* .footer-wrap .wrap .panel .title{ color:#ffffff; padding-bottom:30px;} */
/* .testimonials{background:url(../images/testimonials-bg.png) no-repeat; width:300px; height:170px; padding:20px;} */
/* .footer-wrap .wrap .panel .content span{ color:#da2600;} */
/* .footer-wrap .wrap .panel .content span a{ color:#da2600; text-decoration:underline; display:block; padding-top:20px;} */
/* .footer-wrap .wrap .panel .content span a:hover{ color:#ffed71; text-decoration:none;} */
