<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/
xhtml1-strict.dtd">
<html lang= "fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- 	<h:outputStylesheet library="css" name="bootstrap/css/bootstrap.css"></h:outputStylesheet> -->
<!-- 	<h:outputStylesheet library="css" name="styles.css"></h:outputStylesheet> -->
	<title>S2E - Siège</title>
</h:head>
<h:body styleClass="body" style="font-family:'Trebuchet MS'; 
   									font-size:14px; color:#ffed71;
 									background:url(#{request.contextPath}/resources/images/bg1.jpg)">
<!-- <h:body> -->
	<o:importConstants type="com.greta.s2e_siege_jsf.globals.Constants" />
	<div class="container-fluid">
		<header class="row">
			<h:form>
				<ui:include src="template/header.xhtml" />
			</h:form>
		</header>
		<nav class="mainmenu">
			<div class="container">
				<h:form style="display: flex; margin-top: 20px;
								margin-left: 40px; margin-bottom: 20px;">
					<ui:include src="template/links.xhtml" />
				</h:form>
			</div>
		</nav>
		<main class="container">
			<h:form style="display: flex; justify-content: center;">
				<h:dataTable style="width:1000px; border: 2px solid white;
										border-collapse:collapse;"
							value="#{demandeController.dmdList}" var="dmd"
							border="1">
					<f:facet name="header">Liste des demandes</f:facet>
						<h:column>
			    			<f:facet name="header">Etablissements</f:facet>
			    				#{dmd.userBean.etablissementBean.etabNom}
						</h:column>
						<h:column>
			    			<f:facet name="header">Articles</f:facet>
			    				#{dmd.articleBean.artNom}
						</h:column>
						<h:column>
			    			<f:facet name="header">Quantité</f:facet>
			    				#{dmd.dmdQuant}
						</h:column>
						<h:column>
			    			<f:facet name="header">Budget Restant</f:facet>
			    				#{dmd.userBean.etablissementBean.etabBudRest}
						</h:column>
						<h:column>
			    			<f:facet name="header">Prix total</f:facet>
			    			<h:outputText value="#{dmd.articleBean.artPrixMoyen * dmd.dmdQuant}" >
								<f:convertNumber minFractionDigits="2" />
							</h:outputText>	
						</h:column>
						<h:column>
			    			<f:facet name="header">Etat</f:facet>
			    			<h:outputText rendered="#{dmd.etatBean.etatId =='ATART'}" value="Validé"/>
			    			<h:outputText rendered="#{dmd.etatBean.etatId =='ATVAL'}" value="En cours"/>
			    			<h:outputText rendered="#{dmd.etatBean.etatId =='COUR'}" value="Validé"/>
			    			<h:outputText rendered="#{dmd.etatBean.etatId =='LIV'}" value="Validé"/>
			    			<h:outputText rendered="#{dmd.etatBean.etatId =='REFU'}" value="Refusé"/>
						</h:column>
						<h:column>
			    			<f:facet name="header">Actions</f:facet>
			    				<h:commandButton style="text-decoration:none; 
															background:url(#{request.contextPath}/resources/images/btn-bg.png) no-repeat; 
															width:90px; height:30px; text-align:center; 
															line-height:30px; display:block;
															border: none;
															font-family:'Trebuchet MS'; 
									   						font-size:14px; color:#ffffff;"
								rendered="#{dmd.etatBean.etatId=='ATVAL'}" id="validateDmd" 
			    				action="#{demandeController.validateDmd(dmd.dmdId)}" 
			    				value="#{Constants.BT_VALIDER}" />
			    				<h:commandButton style="text-decoration:none; 
															background:url(#{request.contextPath}/resources/images/btn-bg.png) no-repeat; 
															width:90px; height:30px; text-align:center; 
															line-height:30px; display:block;
															border: none;
															font-family:'Trebuchet MS'; 
									   						font-size:14px; color:#ffffff;"
								rendered="#{dmd.etatBean.etatId=='ATVAL'}" id="refuseDmd" 
			    				action="#{demandeController.refuseDmd(dmd.dmdId)}" 
			    				value="#{Constants.BT_REFUSER}" />
						</h:column>
				</h:dataTable>
			</h:form>
		</main>
	</div>
</h:body>
</html>