<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
<body>
<ui:composition>
	<div style="background:#000 url(#{request.contextPath}/resources/images/bg2.jpg) repeat-x;
				 height:150px; margin-top:20px;
				 display: flex;
				 justify-content: space-around;" 
				 class="header-wrap col-xs-12">
		<h:graphicImage style="border:none; height:150px;" styleClass="col-xs-offset-2 col-xs-2" value="resources/images/logo07-2.png" alt="logo S2E"/>
		<div style="width: 300px" class="col-xs-offset-3 col-xs-1">
			<h3 style="font-size: 24px">Siège</h3>
		</div>
	</div>
</ui:composition>
</body>
</html>