<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
<body>
<ui:composition>
	<h:commandButton style="text-decoration:none; 
						background:url(#{request.contextPath}/resources/images/btn-bg.png) no-repeat; 
						width:90px; height:30px; text-align:center; 
						line-height:30px; display:block;
						border: none;
						font-family:'Trebuchet MS'; 
   						font-size:14px; color:#ffffff;" 
						action="#{etablissementController.listPage()}" value="#{Constants.MENU_BUDGET}" />
    <h:commandButton style="background-color: transparent;
    					width:150px; height:30px; text-align:center;
    					line-height:30px; display:block;
						border: none;
						font-family:'Trebuchet MS'; 
   						font-size:14px; color: #ffed71; 
   						text-decoration: none;
   						border-radius: 4px;" 
    					action="#{demandeController.listDmd()}" value="#{Constants.MENU_DEMANDE}" />
    <h:commandButton style="background-color: transparent;
    					width:90px; height:30px; text-align:center;
    					line-height:30px; display:block;
						border: none;
						font-family:'Trebuchet MS'; 
   						font-size:14px; color: #ffed71; 
   						text-decoration: none;
   						border-radius: 4px;"
   						action="#{deconnexionController.deconnexion()}" value="#{Constants.MENU_DECONNEXION}" />
</ui:composition>
</body>
</html>

